[submodule "Source/SeasonRoom-Backend"]
	path = Source/SeasonRoom-Backend
	url = https://github.com/hong-havi/SeasonRoom-Backend
[submodule "Source/SeasonRoom-Frontend"]
	path = Source/SeasonRoom-Frontend
	url = https://github.com/hong-havi/SeasonRoom-Frontend.git
